*{
    margin: 0;
    padding: 0;
}

.container-one{
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 1%;
    left: 32%;
}

.container-one img{
    width: 130px;
    margin-right: 2vw;
}

.container-one h1{
    color: white;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    font-size: 35px;
}

.container-one p{
    color: white;
    margin-bottom: 1.5vw;
    font-size: 25px;
}

.container-one div{
    margin-bottom: 1.5vw;
}

.container-one input{
    width: 23vw;
    height: 6vh;
    border: none;
    border-radius: 4px;
}

.container-one input::placeholder{
    padding-left: 10px;
    opacity: 55%;
}

.container-one button{
    width: 10vw;
    height: 6vh;
    border: none;
    border-radius: 4px;
    margin-left: 0.5vw;
    background-color: #222327;
    color: white;
}

#p{
    font-size: 12px;
    text-align: center;
    margin-bottom: 0%;
}

#img-car{
    width: 300px;
}
